@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    width: 100%;
    min-height: 100vh;
    color: rgb(236, 236, 209);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    background-size: 400% 400%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header{
    margin-bottom: 2rem;
    padding: 1rem;
}
header,
.songDetails,
.lyrics,
.welcome{
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: saturate(120%) blur(20px);
    border-radius: 1rem;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
}
h1{
    font-size: 3rem;
    font-weight: bold;
}
.dropdown-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
select{
    padding: 1rem;
}

ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
li{
    font-size: 4rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    animation: emojiSpin 5s ease-in-out infinite;
    user-select: none;
    
}
li:nth-child(2){
    animation-delay: .5s;
}
li:nth-child(4){
    animation-delay: .25s;
}
li:nth-child(5){
    animation-delay: .6s;
}


p{
    padding: 0 1rem;
}
.welcome{
    width: 40%;
    padding: 1rem;

}
iframe{
    display: block;
    margin: .5rem auto;
    width: 420px;
    height: 236px;
}
.albumInfo{
    width: 100%;
    padding: 2rem;
}
.albumStuff{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    animation: fade;
    animation-duration: 2s;
}
.titleArtist{
    padding: 1rem;
    font-size: 3rem;
}
.titleArtist h1{
    margin-bottom: .5rem;
}
.songDetails{
    overflow: hidden;
    min-height: 417px;
}
.songDetails span{
    font-size: 1rem;
}
.lyrics{
    width: 420px;
    height: 417px;
    overflow: scroll;
    line-height: 1.5;
    white-space: pre-line;
    text-align: center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.lyrics::-webkit-scrollbar {
    display: none;
  }
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.25rem;
}
.welcome{
    text-align: center;
    width: 100%;
}


@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 985px){
    .albumStuff{
        flex-direction: column;
    }
    li{
        font-size: 2rem;
    }
    .songDetails{
        height: auto;
    }
    .lyrics{
    }
    .welcome{
        width: 100%;
    }
}

@media (max-width: 768px){
    
   
    
}

@media (max-width: 425px){
    .lyrics{
        padding: 0 1rem;
        width: 100%;
    }
    iframe{
        width: 315px;
        height: 177px;
    }
    .albumStuff{
        gap: 2rem;
    }
}

@media (max-width: 380px){
    li{
        font-size: 1.25rem;
    }
    header h1{
        font-size: 2rem;
    }
}

/* Animated background */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

@keyframes animate{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
} 

@keyframes emojiSpin{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,-20px);
    }
    100%{
        transform: translate(0,0);
    }
}